{
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": false,
  "arrowParens": "avoid",
  "semi": true,
  "quoteProps": "as-needed",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "editorconfig": true
}
